.code {
  background: black;
  color: #c5c8c6;
  font-size: smaller;
  overflow: auto;
  height: calc(100vh - 86px);
  padding: 6px;
}

.tab {
  padding-right: 7px;
  border-bottom: thin solid grey;
}

.closeIcon {
  font-size: 14px;
  padding-left: 4px;
  color: grey;
}

.closeIcon:hover {
  color: black;
}