.container {
  float: left;
  text-align: right;
  margin-right: 11px;
}

.line {
  padding-left: 12px;
  padding-right: 5px;
}

.add {
  composes: line;
  background: #0c980d;
}

.remove {
  composes: line;
  background: grey;
  cursor: pointer;
}

.change {
  composes: line;
  background: #10849a;
  cursor: pointer;
}