<body>
  <h2>Projects</h2>
  <ul>
    <% for (var i = 0; i < projects.length; i++) { %>
    <li>
      <%= projects[i].name %> -
      <% for (var j = 0; j < projects[i].langs.length; j++) { %>
        <a href="/<%= projects[i].name %>/<%= projects[i].langs[j] %>">
          <%= projects[i].langs[j] %>
        </a>
      <% } %>
    </li>
    <% } %>
  </ul>
</body>