a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
}

.Resizer {
  width: 1px;
  background: #cacaca;
  cursor: col-resize;
}

.tree-view_item {
  line-height: 23px;
}