a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
}

.Resizer {
  width: 1px;
  border: 1px solid white;
  background: #cacaca;
  cursor: col-resize;
}

.Resizer:hover {
  width: 1px;
  background: white;
  border-right: 2px dashed #5d5d5d;
}

.tree-view_item {
  line-height: 23px;
}