.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body {
  flex: 1;
}

.footer {
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  background: white;
  z-index: 1;
  padding: 0 20px;
  border-top: thin solid #cacaca;
}

.tabList {
  margin: 0;
}

.commitList {
  height: calc(100vh - 34px);
  overflow: auto;
}

.commit {
  border-bottom: thin solid #cacaca;
  cursor: pointer;
}

.commit:hover {
  background: #e8f6ff;
}

.commitTitle {
  display: block;
  padding: 7px 12px 7px 15px;
}

.activeCommitTitle {
  composes: commitTitle;
  font-weight: bold;
}

.unactiveCommitTitle {
  composes: commitTitle;
}

.file {
  cursor: pointer;
}

.newFile {
  composes: file;
  color: green;
}

.editedFile {
  composes: file;
  color: red;
}

.uneditedFile {
  composes: file;
}

.code {
  font-size: smaller;
}

.treeview {
  padding: 5px 10px;
}