.commits {

}

.activeCommit {
  font-weight: bold;
}

.file {
  cursor: pointer;
}

.newFile {
  composes: file;
  color: green;
}

.editedFile {
  composes: file;
  color: red;
}

.uneditedFile {
  composes: file;
}

.viewer {
  padding: 10px;
}

.sidebar {
  composes: viewer;
}

.fileViewer {
  composes: viewer;
}

.teachingNotesViewer {
  composes: viewer;
}

.code {
  font-size: smaller;
}